@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  /* Remove bullets from lists */
  list-style-type: none;
}

a{
  /* Remove underlines from links */
  text-decoration: none;
  color: #666
}

body, .header, .footer {
  /* Creates the header */
  display: flex;
  /* - The links in the header and footer are pushed to either side. */
  justify-content: space-between;
  /* - There is space between the links in the header and footer. */
  gap: 20px
}

ul{
  display: flex;
  gap: 16px
  
}
body, .content{
  flex-direction: column;
}

.content, .input, .buttons {
  align-self: center;
  display: flex;
}

.footer {
  /* - The footer has a light gray background (`#eeeeee`). */
  background-color: #eeeeee;
}
.buttons {
  padding: 8px;
  gap: 20px
}
.header, .footer {
  /* - The header and footer have padding. */
  padding: 16px;
}